---
title: Főoldal
layout: default
---


<h1>Hírek</h1>


{% for post in paginator.posts %}
    <h2>{{ post.title }}</h2>
    <h4>{{ post.date | date_to_long_string }}</h4>
    <p>
      <a href="{{ post.url }}">Read Post</a>
    </p>
{% endfor %}
<br>
<br>

<nav>
  <ul class="pager">
    {% if paginator.previous_page %}<li class="previous"><a href="{{ paginator.previous_page_path }}" class="previous">Előző</a>{% else %}<li class="previous disabled"><span class="previous">Előző</span>{% endif %}</li>
    {% if paginator.next_page %}<li class="next"><a href="{{ paginator.next_page_path }}" class="next">Következő</a>{% else %}<li class="next disabled"><span class="next ">Következő</span>{% endif %}
</li>
  </ul>
</nav>
  <span class="page_number ">Oldal: {{ paginator.page }}/{{ paginator.total_pages }}</span>
  
