<!doctype html>
<html>
<head>
    <title>{{site.name}}</title>
    <link rel="icon" href="/newlogo.png">
	<meta charset="utf-8">
    <meta name="description" content="{{site.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
<body>
    <div class="container">
		<br>
		<div class="center-block">
			<img src="/newlogo.png" alt="Me" class="img-thumbnail center-block" width="125" height="125">
			<h3 class="header"><small>{{site.description}}</small></h3>
		</div>
		
        <p class="container">
	    	<ul class="nav nav-tabs">
				<li role="presentation"><a href="/"><span class="glyphicon glyphicon-home"></span> Főoldal</a></li>

				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i>Profiljaim
					<span class="caret"></span></a>
					<ul class="dropdown-menu">
					  <li><a href="http://codeforces.com/profile/mraron">Codeforces</a></li>
					  <li><a href="https://twitter.com/noszalyaron">Twitter</a></li>
					  <li><a href="http://stackoverflow.com/users/3186886/mraron">StackOverflow</a></li> 
					  <li><a href="https://github.com/mraron">GitHub</a></li>
					  <li role="separator" class="divider"></li>
					  <li><a href="#">skype://noszalyaron4</a></li>  
					</ul>
				</li>
				<li role="presentation" ><a href="/tags"><span class="glyphicon glyphicon-tags"></span> Címkéink</a></li>	
			</ul>
			<br>
		</p>

